body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden; 
}
header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 10vh;
    padding: 10px;
    background: linear-gradient(90deg, #f7d65a, #f7d65a, #f7b35a, #ff8800, #ff7700);
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, transparent, #f7d65a, #ff7700, transparent);
}
header>img {
    width: auto;
    height: 5.7em;
}
menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 10%;
    padding: 0;
    width: 70%;
    height: 70%;
    padding-right: 5%;
}
a {
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    color:#000000;
    transition: .1s ease-in-out;
}
a:hover {
    transform: rotate(-2deg) scale(1.1);
    filter: brightness(1.2) contrast(1.2);
}
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: space-around;
    justify-content: space-around;
    width: 100%;
    height: auto;
    z-index: 0;
}
section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
section:nth-child(1) {
    width: 100%;
    height: 100vh;
    background-color: #ff7700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}
button {
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 2em;
    color: rgb(26, 26, 26);
    background: linear-gradient(45deg, hsla(16, 100%, 50%, .5), hsla(16, 85%, 52%, .9), hsl(22, 100%, 50%));
    box-shadow: 14px 14px 12px hsla(23, 83%, 53%, 0.4),
    -14px -14px 12px hsla(23, 83%, 53%, 0.4),
    inset 8px 8px 12px hsla(23, 83%, 53%, 0.4);
    transition: .1s ease-in-out;
}
button:hover {
    transform: scale(1.1);
    font-size: 2.2em;
    color: rgb(0, 0, 0);
    background: linear-gradient(45deg, hsla(16, 100%, 50%, .9), hsla(16, 85%, 52%, .8), hsl(22, 100%, 50%));
    box-shadow: 4px 4px 12px hsla(23, 83%, 53%, 0.4),
    -4px -4px 12px hsla(23, 83%, 53%, 0.4),
    inset 4px 4px 12px hsla(23, 83%, 53%, 0.4),
    inset -2px -2px 6px hsla(23, 83%, 53%, 0.4);
}
section:nth-child(2) {
    max-height: 100vh;
    background:rgb(0, 0, 0);
    z-index: 1;
}
section:nth-child(2)>video {
    object-fit: cover;
    object-position: center;
    width: auto;
    min-height: 800px;
    z-index: 1;
}
div.filter {
    display: block;
    position: absolute;
    width: 100%;
    min-height: 800px;
    background-image: linear-gradient(45deg, hsla(300, 73%, 47%, .2), hsla(0, 70%, 47%, .1), hsla(246, 87%, 46%, .3));
    z-index: 1;
}
section:nth-child(3) {
    height: 100vh;
    align-items: space-around;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    animation: 20s ease-in-out fondMouvant infinite;
    z-index: 2;
}
@keyframes fondMouvant {
    from {
        filter: contrast(1);
    }
    60% {
        filter: contrast(1.5);
    }
    to {
        filter: contrast(1);
    }
}
section:nth-child(3)>article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 96%;
    height: auto;
    min-height: 100%;
    padding: 0 2% 0 2%;
    background: linear-gradient(45deg, hsla(339, 100%, 49%, .3), hsla(22, 100%, 50%, .5), hsla(10, 100%, 50%, .6));
    filter: blur(2.5);
    z-index: 3;
}
section:nth-child(3)>article>span {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 14em;
    height: 20em;
    border-radius: 20px;
    box-shadow: 4px 4px 52px hsla(342, 100%, 50%, 0.4),
    -4px -4px 52px hsla(342, 100%, 50%, 0.4),
    inset 12px 12px 22px hsla(0, 100%, 49%, 0.4),
    inset -12px -12px 22px hsla(0, 100%, 50%, 0.4);
    background: radial-gradient(hsl(39, 100%, 50%), hsl(16, 100%, 50%));
    margin: 2%;
    z-index: 4;
}
span>img {
    width: 200px;
    height: auto; 
}
span>p {
    font-size: 1.6em;
    font-weight: bolder;
    text-shadow: 1px 1px 2px hsla(0, 0%, 0%, .2);
}